<mat-toolbar class="toolbar">
    <button mat-icon-button class="menu-icon" (click)="openSidenav('menu')" aria-label="Menu">
        <mat-icon>menu</mat-icon>
    </button>

    <img class="logo-header" src="../../../../assets/images/white-logo.png" />

    <div class="links">
        <button mat-button (click)="dashboard()">Inicio</button>
        <button mat-button (click)="parksList()">Parques</button>
        <button mat-button (click)="contact()">Contáctanos</button>
    </div>

    <div class="account-icon" (click)="openSidenav('account')">
        <mat-icon fontIcon="account_circle"></mat-icon>
    </div>
</mat-toolbar>
