/* Estilo para el contenedor que alberga el mat-drawer */
.sidenav-container {
    height: 100vh;  /* Aseguramos que el contenedor ocupe toda la altura de la ventana */
    display: flex;
    flex-direction: column;
  }
  
  /* El contenido principal (Toolbar y el router-outlet) */
  .content-wrapper {
    display: flex;
    flex-direction: column;
    width: 100%;  /* Asegura que el contenido ocupe el 100% del ancho disponible */
    position: relative;
    margin-left: 0;
    transition: margin-left 0.3s ease-in-out;  /* Suaviza la transición cuando el sidenav se abre */
  }
  
  /* El toolbar debe estar siempre fijo en la parte superior */
  .toolbar {
    width: 100%;
    display: flex;
    justify-content: space-between;
    background: linear-gradient(137deg, rgba(58, 16, 120, 1) 0%, rgba(91, 121, 205, 1) 100%);
    height: 80px;
    position: fixed;  /* Fija la barra en la parte superior */
    top: 0;
    left: 0;
    right: 0;
    z-index: 1000;  /* Asegura que quede encima del drawer */
    color: white;
  }
  
  /* Cuando el sidenav se abre, el contenido se desplaza hacia la derecha */
  .sidenav-container.mat-drawer-open .content-wrapper {
    margin-left: 250px;  /* Desplaza el contenido del router-outlet cuando el sidenav está abierto */
  }
  
  /* Estilos para el sidenav */
  .sidenav-content {
    width: 250px;
    background-color: rgba(91, 121, 205, 1);
    color: white;
    padding-top: 20px;
  }
  
  /* Asegura que el contenido dentro del sidenav tenga los estilos correctos */
  .sidenav-content button {
    color: white;
  }
  
  .sidenav-content button:hover {
    background-color: rgba(255, 255, 255, 0.1);
  }
  
  .mat-drawer-content {
    margin-left: 0; /* No debe desplazar el contenido cuando el sidenav está cerrado */
    transition: margin-left 0.3s ease-in-out;  /* Suaviza la transición */
  }
  
  /* Cuando el sidenav está abierto, desplazamos el contenido */
  .sidenav-container.mat-drawer-open .mat-drawer-content {
    margin-left: 250px;
  }

  ul {
    list-style-type: none;
  }

  .account-icon {
    cursor: pointer;
  
    mat-icon {
      font-size: 50px; // Ajusta este valor al tamaño deseado
      width: 1em;      // Ajusta el ancho del ícono
      height: 1em;     // Ajusta la altura del ícono
      line-height: 1;  // Alineación vertical sin espacio adicional
    }
  }
  