mat-sidenav {
    width: 250px;
    background-color: rgba(91, 121, 205, 1);
    position: fixed; 
    z-index: 10;      
    height: 100%;    
    padding-top: 120px;
}

mat-sidenav-backdrop {
    display: block; 
  }
  ul {
    list-style-type: none;
  }
  
  li {
    margin-bottom: 20px;
  }

  mat-sidenav-container .mat-sidenav-content {
    z-index: 1;
  }

  .mat-drawer-container {
    z-index: 10;
  }

  mat-sidenav-container {
    position: relative;
    overflow: hidden;
  }

