<!-- <div class="container body-container">
    <h1>Contáctanos</h1>
    <form [formGroup]="contactForm" class="form-container">

        <mat-form-field appearance="fill">
            <mat-label>Nombre:</mat-label>
            <input matInput type="text" formControlName="name" placeholder="Name" />
            <mat-error *ngIf="loginForm.get('name')?.invalid && loginForm.get('name')?.touched">
                <ng-container *ngIf="loginForm.get('name')?.hasError('required')">
                    El nombre es obligatorio.
                </ng-container>
            </mat-error>
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Email:</mat-label>
            <input matInput type="email" formControlName="email" placeholder="Email" />
            <mat-error *ngIf="loginForm.get('email')?.invalid && loginForm.get('email')?.touched">
                <ng-container *ngIf="loginForm.get('email')?.hasError('required')">
                    El email es obligatorio.
                </ng-container>
                <ng-container *ngIf="loginForm.get('email')?.hasError('email')">
                    El formato del email no es válido.
                </ng-container>
            </mat-error>
        </mat-form-field>

       

        <button mat-raised-button color="primary" type="submit">Entrar</button>
    </form>
</div> -->
