@import "../../mediaqueries.scss";
@import "../../variables.scss";

.body-container {
    padding-top: 120px;
}

.form-container {
    background-color: $blue-background-color;
    box-shadow: 2px 3px 4px rgba(0, 0, 0, 0.3);
    padding: 25px;
    border-radius: 45px;
    width: 900px;
}

.container,
.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-form-field {
    width: 100%;

    mat-label {
        font-size: 14px;
    }
}

@include for-mobile {
    mat-form-field {
        width: 75vw;
        max-width: 320px;

        mat-label {
            font-size: 14px;
        }
    }

    .form-container {
        padding: 25px;
        border-radius: 30px;
        width: 90vw;
        max-width: 360px;
    }
}

@include for-tablet {
    .small-info-inputs,
    mat-form-field {
        width: 75vw;
        max-width: 680px;

        mat-label {
            font-size: 14px;
        }
    }

    .form-container {
        padding: 25px;
        border-radius: 30px;
        width: 90vw;
        max-width: 760px;
    }
}
