@import '../../mediaqueries.scss';

.body-container{
    padding-top: 120px;
}

.form-container {
  background-color: rgba(91, 121, 205, 0.2);
  padding: 25px;
  border-radius: 45px;
  width: 900px;
}

.container,
.container form {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

mat-form-field {
  width: 100%;

  mat-label {
      font-size: 14px;
  }
}

@include for-mobile {
  mat-form-field {
      width: 75vw;
      max-width: 320px;
  
      mat-label {
          font-size: 14px;
      }
  }

  .form-container {
      padding: 25px;
      border-radius: 30px;
      width: 90vw;
      max-width: 360px;
  }
}

@include for-tablet {
  .small-info-inputs,
  mat-form-field {
      width: 75vw;
      max-width: 680px;
  
      mat-label {
          font-size: 14px;
      }
  }

  .form-container {
      padding: 25px;
      border-radius: 30px;
      width: 90vw;
      max-width: 760px;
  }
}
  