<footer class="footer">
    <div class="footer__social">
        <p>Síguenos</p>
        <ul class="footer__social_icons">
            <li class="footer__social_link">
                <a href="/construction"><i class="fa-brands fa-facebook"></i></a>
            </li>
            <li class="footer__social_link">
                <a href="/construction"><i class="fa-brands fa-instagram"></i></a>
            </li>
            <li class="footer__social_link">
                <a href="/construction"><i class="fa-brands fa-tiktok"></i></a>
            </li>
            <li class="footer__social_link">
                <a href="/construction"><i class="fa-brands fa-youtube"></i></a>
            </li>
        </ul>
    </div>
    <div class="footer__copy">
        <p>Made with <i class="fa-regular fa-heart"></i></p>
        <p>&copy; Laura Corral | 2024</p>
    </div>
</footer>
