<div class="container body-container">
    <h1>Perfil</h1>
    <div class="personal-info-container" *ngIf="profileUser$ | async as profileUser">
        <div class="user-image-container">
            <div class="profile-image">
                <img
                    loading="lazy"
                    [src]="profileUser.profile_picture ? profileUser.profile_picture : '../../../../assets/images/profile.png'"
                    alt="User profile image"
                />
            </div>
            <h2>{{ profileUser.name }}</h2>
        </div>

        <div class="user-description-container">
            <h3>Theme Park Enthusiast</h3>
            <p>{{ profileUser.description }}</p>

            <div class="profile-buttons">
                <button mat-raised-button color="primary" type="button" (click)="navigateToEditProfile()">Modificar perfil</button>
                <button mat-raised-button color="primary" type="button" (click)="logout()">Cerrar Sesión</button>
                <button mat-raised-button color="warn" type="button" *ngIf="profileUser.access_level === 1" (click)="navigateToAdmin()">Admin</button>
            </div>
        </div>
    </div>

    <div class="recommended-parks-container">
        <h2>Parques recomendados</h2>
        <div *ngIf="recommendedParks.length > 0; else noParks">
            <table mat-table [dataSource]="recommendedParks" class="mat-elevation-z8">
                <ng-container matColumnDef="name">
                    <th mat-header-cell *matHeaderCellDef>Nombre</th>
                    <td mat-cell *matCellDef="let park">{{ park.name }}</td>
                </ng-container>

                <ng-container matColumnDef="picture">
                    <th mat-header-cell *matHeaderCellDef>Imagen</th>
                    <td mat-cell *matCellDef="let park">
                        <img [src]="park.picture" alt="{{ park.name }}" class="park-image" />
                    </td>
                </ng-container>

                <ng-container matColumnDef="actions">
                    <th mat-header-cell *matHeaderCellDef>Acciones</th>
                    <td mat-cell *matCellDef="let park">
                        <button mat-raised-button color="primary" [routerLink]="['/park/detail', park.id]">Ver más</button>
                    </td>
                </ng-container>

                <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
            </table>
        </div>
        <ng-template #noParks>
            <p>No hay parques recomendados según tus preferencias.</p>
        </ng-template>
    </div>
</div>
