<div class="container body-container">
    <h1>Perfil</h1>
    <div class="personal-info-container" *ngIf="profileUser$ | async as profileUser">
        <div class="user-image-container">
            <div class="profile-image">
                <img
                    loading="lazy"
                    [src]="profileUser.profile_picture ? profileUser.profile_picture : '../../../../assets/images/profile.png'"
                    alt="User profile image"
                />
            </div>
            <h2>{{ profileUser.name }}</h2>
        </div>

        <div class="user-description-container">
            <h3>Theme Park Enthusiast</h3>
            <p>{{ profileUser.description }}</p>

            <div class="profile-buttons">
                <button mat-raised-button color="primary" type="button" (click)="navigateToEditProfile()">Modificar perfil</button>
                <button mat-raised-button color="primary" type="button" (click)="logout()">Cerrar Sesión</button>
            </div>
        </div>
    </div>
</div>
