// **** COLORS ****
$purple-primary-color: #3a1078;
$purple-secondary-color: #624e88;
$blue-primary-color: #5b79cd;
$blue-secondary-color: #3795bd;
$blue-background-color: #5b79cd33;

$red-color: #ee0004;

$black-1: #202020;
$black-2: #686868;
$black-3: #979797;
$black-4: #e5e5e5;

// **** FONT-SIZES ****
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-body: 18px;
$font-size-small: 16px;
