//colors
$purple-primary-color: #3A1078;
$purple-secondary-color: #624E88;
$blue-primary-color: #5B79CD;
$blue-secondary-color: #3795BD;

$red-color: #EE0004;

$black-1: #202020;
$black-2: #686868;
$black-3: #979797;
$black-4: #E5E5E5;

//font-sizes
$font-size-h1: 24px;
$font-size-h2: 20px;
$font-size-h3: 16px;
$font-size-body: 18px;
$font-size-small: 16px;