<div class="carousel-container">
  <div id="carouselExampleIndicators" class="carousel slide carousel-fade carousel-size">
    <div class="carousel-indicators">
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
      <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
      <div class="carousel-item active">
        <img src="../../assets/images/theme-park.jpg" class="d-block w-100" alt="Parque tématico">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/carousel.jpg" class="d-block w-100" alt="Carrusel">
      </div>
      <div class="carousel-item">
        <img src="../../assets/images/rollercoaster-park.jpg" class="d-block w-100" alt="Montaña rusa">
      </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
      <span class="carousel-control-prev-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
      <span class="carousel-control-next-icon" aria-hidden="true"></span>
      <span class="visually-hidden">Next</span>
    </button>
  </div>

  <div class="landing-info">
    <div class="site-info-container">
      <h1>Park Finder, tu buscador de parques</h1>
      <p>¿Vas a visitar un parque pronto? ¿Estás planeando tu próxima escapada?</p>
      <p>En Park Finder puedes buscar la información necesaria de cientos de parques, para que puedas organizar tus visitas</p>
      <p>¿No sabes qué parque visitar? Nosotros te recomendamos!!!</p>
    </div>

  
    <div class="parks-info-container">
      <h2>Parques populares</h2>
      <div class="info-container">
        <div class="park-info-detail">
          <img src="../../assets/images/ferris-icon.png" class="" alt="icono noria">
        </div>
        <div>
          <img src="../../assets/images/carousel-icon.png" class="" alt="icono carrusel">
        </div>
        <div>
          <img src="../../assets/images/swing-icon.png" class="" alt="icono atracción">
        </div>
  
      </div>
    </div>
  </div>

  </div>
  