@import '../../mediaqueries.scss';

.carousel-container {
    max-width: 100%;
    margin: 0 auto;
}

@include for-mobile {
  .carousel-container {
    padding-top: 80px;
}
}

.landing-info {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  text-align: center;
}

.parks-info-container {
  padding-top: 25px;
}

.info-container {
  display: flex;
  flex-direction: row;
  gap: 65px;

  .park-info-detail {

  }

  img {
    width: 150px;
  }
}